<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Home.master.cs" Inherits="FirstRow.Home" %>

<!DOCTYPE html>
<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>FirstRow - Making Dreams</title>
</head>
<body>
    <asp:ContentPlaceHolder ID="Main" runat="server"></asp:ContentPlaceHolder>
</body>
</html>
