<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Home.master.cs" Inherits="FirstRow.Home" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>FirstRow - Making Dreams</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>


<body>
    <asp:ContentPlaceHolder ID="Main" runat="server"></asp:ContentPlaceHolder>
</body>


</html>
